body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#calculator{
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(77, 76, 76);
    color: aliceblue;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(34, 33, 33);
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


button:hover{
    background-color:hsl(0, 0%, 40%);
}
button:active{
    background-color:hsl(0, 0%, 50%);
}    

.operator-btn{
    background-color: rgb(142, 99, 27);
}
.operator-btn:hover{
    background-color: hsl(142,99% 10%);
}