body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#calculator{
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
